@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Acme";
	src: url("./assets/fonts/Acme-Regular.ttf");
}

/* Neumorphism colors and shadows */
:root {
	--white: white;
	--green: rgb(20, 200, 20);
	--red: red;
	--orange: orange;
	--blue: blue;

	--greyLight-1: #e4ebf5;
	--greyLight-2: #c8d0e7;
	--greyLight-3: #bec8e4;
	--greyLight-4: #b2b8c9;
	--greyLight-5: #9599a5;
	--greyLight-6: #b8b9be;

	--container-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-6), -0.2rem -0.2rem 0.5rem var(--white);
	--title-shadow: 3px 3px 6px gray, -3px -3px 6px white;
	--text-shadow: 2px 2px 4px gray, -2px -2px 4px white;
	--small-outer-shadow: 3px 3px 6px var(--greyLight-6), -3px -3px 6px var(--white);
	--small-inner-shadow: inset 2px 2px 4px var(--greyLight-6), inset -2px -2px 4px var(--white);
	--wave-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
	--wave-bg: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}

body {
	letter-spacing: 0.125rem;
	font-family: "Acme", sans-serif;
	text-shadow: var(--text-shadow);
	background: var(--greyLight-1);
}

@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		transform: scale(7);
		opacity: 0;
	}
}

/* Checking the search input to determine valid or invalid values */
.checking:valid {
	caret-color: var(--red);
	border-bottom: 2px solid var(--red);
}
.checking:invalid {
	caret-color: var(--green);
	border-bottom: 2px solid var(--green);
}

/* Scrollbar customization with prefixes */
#todo-list::-webkit-scrollbar {
  width: 0.25rem;
}
#todo-list::-webkit-scrollbar-track {
	margin-bottom: 3rem;
	border-radius: 0.25rem;
  box-shadow: var(--small-inner-shadow);
}
#todo-list::-webkit-scrollbar-thumb {
	outline: none;
	border-radius: 0.25rem;
  background-color: gray;
	box-shadow: var(--small-outer-shadow);
}

/* This "li" and its children will be created dynamicaly in js file, so they were styled here */
#todo-list ul li {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 1rem 0;
	padding: 0.25rem;
	width: 100%;
	min-height: 6rem;
	outline: none;
	border: none;
	border-radius: 2rem;
	color: black;
	font-weight: bold;
	background: none;
	box-shadow: var(--small-outer-shadow);
	text-align: justify;
	transition: opacity 0.4s ease-in-out;
	overflow: hidden;
}
#todo-list ul li:hover {
	box-shadow: var(--small-inner-shadow);
}

#todo-list ul li.fall {
	opacity: 0;
}

/* Number label */
#todo-list ul li span:nth-child(1) {
	position: absolute;
	top: 1rem;
	left: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	outline: none;
	border: none;
	border-radius: 1rem;
	box-shadow: var(--small-outer-shadow);
	font-size: 1.5rem;
	color: gray;
	background: none;
	transition: all 0.2s ease-in-out;
}

/* Main todo text */
#todo-list ul li span:nth-child(2) {
	display: flex;
	justify-content: start;
	margin: 3.5rem 1rem 1rem 1rem;
	padding-top: 0.5rem;
}
#todo-list ul li span:nth-child(2)::before {
	position: absolute;
	top: 3.5rem;
	right: 0;
	left: 0;
	content: "";
	margin: 0 auto;
	width: 95%;
	height: 1px;
	border: 1px dashed gray;
}

/* Option buttons */
.option-btn {
	position: absolute;
	top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	outline: none;
	border: none;
	border-radius: 1rem;
	box-shadow: var(--small-outer-shadow);
	background: none;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.option-btn:hover {
	color: var(--greyLight-1) !important;
	box-shadow: none;
}

/* Delete button */
#todo-list ul li span:nth-child(3) {
	right: 1rem;
	color: var(--red);
}
#todo-list ul li span:nth-child(3):hover {
	background-color: var(--red);
}

/* Edit button */
#todo-list ul li span:nth-child(4) {
	right: 4rem;
	color: var(--orange);
}
#todo-list ul li span:nth-child(4):hover {
	background-color: var(--orange);
}

/* Complete button */
#todo-list ul li span:nth-child(5) {
	right: 7rem;
	color: var(--green);
}
#todo-list ul li span:nth-child(5):hover {
	background-color: var(--green);
}

/* Share button */
#todo-list ul li span:nth-child(6) {
	right: 10rem;
	color: var(--blue);
}
#todo-list ul li span:nth-child(6):hover {
	background-color: var(--blue);
}